{{#each this}}
<h1 class="title">{{name}}</h1>
<div class="capital">{{capital}}</div>
<div class="population">{{population}}</div>
<div class="languages">{{#each languages}}
    {{name}}
    {{/each}}
</div>
<img class="flag" src="{{flag}}" width="320px">
{{/each}}